.idea/compiler.xml
target/classes/pages/BasePage.class
target/classes/pages/BasePage.class
target/classes/pages/BasePage.class
target/classes/pages/BasePage.class
*.class
*.class
target/classes/pages/BasePage.class
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
/target
.idea/csv-editor.xml
